p {
	line-height: unset;
}

#header {
	padding-left: 72.5px;
	width: calc(100vw - 72.5px);
}

#home-button {
	width: 55px;
	height: 30px;
	background: #0002;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 0 2px 2px;
}
#home-button::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
	top: -10px;
	left: -10px;
	transform: rotate(-45deg);
}
#home-button::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
	bottom: -10px;
	left: -10px;
	transform: rotate(45deg);
}

#home-button i {
	color: #444;
	position: absolute;
	top: 50%;
	left: calc(50% + 2.5px);
	transform: translate(-50%, -50%);
	font-size: 16px;
}

#product-wrapper {
	top: 63px;
	height: calc(100vh - 63px*2 - 15px);
}

.product-wrapper {
    left: 0;
}

.product-wrapper img {
	width: auto;
}

h2 {
	margin: 20px 5px;
	font-size: 30px;
}

h3 {
	margin-top: 20px;
	font-family: 'Cabin';
	font-size: 25px;
}

select {
	padding: 10px;
	border: 1px solid #0003;
	background: #26f;
	color: #fff;
	max-width: 100%;
	font-size: 16px;
	width: 250px;
	padding: 10px;
}

#calculate {
	border: none;
	background: #26f;
	padding: 12.5px;
}

#calculate p {
	color: #fff;
	margin: 0;
}

.material {
	display: none;
}

.for-material {
	display: inline-block;
	position: relative;
	background: #fff;
	padding: 10px;
	border: 1px solid #888;
	transition: all 100ms ease-in-out;
	color: #888;

}

.material:checked + .for-material {
	background: #26f;
	color: #fff!important;
}