@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: 'Serto BeQaco Bold';
	src: url('../Serto-BeQaco-Bold.ttf');
}

* {
	margin:  0;
	padding: 0;
	font-family: Helvetica, Arial, Sans-Serif;
	color: #000;
	box-sizing: border-box;
}

html, body {
	background: #fff;
	overflow-x: hidden;
	width: 100vw;
}

.no-select {
	-webkit-user-select: none;
	user-select: none;
}

p, li {
	font-size: 18px;
	line-height: 25px;
	margin: 0 0 10px 0;
}

h3 {
	margin: 0 0 10px;
}

a {
	color: #00f;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#wrapper {
	width: 100vw;
	overflow-x: hidden;
}

h2 {
	font-family: 'Marcellus';
}

hr {
	border: none;
	border-bottom: 1px solid #0001;
	margin: 10px 0;
}

.kunosho {
	position: absolute;
	top:  50%;
	right: 15px;
	transform: translateY(-50%);
}

.kunosho h3 {
	font-family: 'Serto BeQaco Bold';
	font-size: 35px;
	margin: 0;
	color: #345;
}















#product-header {
	width: 100%;
	height: auto;
	background: #000;
	margin: 0 0 25px 0;
	padding: 15px 15px 5px 15px;
}

#product-header * {
	color: #fff;
}

#product-header h1 {
	font-family: 'Red Hat Display';
	text-align: center;
	font-size: 30px;
}

#header-content {
	width: 50%;
	margin: auto;
}

#header-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 0px;
	place-items: center;
	text-align: center;
	padding-top: 25px;
	width: 60%;
	margin: auto;
}

#header-buttons a {
	text-decoration: none;
}

#header-buttons h3 {
	font-weight: 400;
	font-family: 'Montserrat';
	font-size: 16px;
}













/*









					PRODUCT STYLE









*/




#product-info {
	width: 100vw;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	transition: all 200ms ease-in-out;
	overflow-y: hidden;
}

#info-header {
	width: calc(100vw - 65px);
	height: auto;
	background: #fff;
	box-shadow: 0 0 10px 0 #0003;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 6;
	padding: 15px 15px 15px 50px;
}

#back-button {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	width: 35px;
	height: 35px;
	background: transparent;
	transition: all 200ms ease-in-out;
	border-radius: 50%;
}
#back-button:active {
	background: #0003;
}

#back-button i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #345;
}

#product-wrapper {
	width: 100vw;
	overflow-x: hidden;
}

.product-wrapper {
	width: 100%;
	height: 100%;
	background: #eee;
	position: absolute;
	top: 0;
	left: 100vw;
	transition: all 250ms ease-in-out;
	box-shadow: inset 0 -8px 8px -4px #0003;
}

#product-wrapper-1-1 {
	left: 0;
}

.product-wrapper img {
	width: 100%;
	max-height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-wrapper .full-img {
	max-width: 80%;
	max-height: 100%;
}

.product-switch {
	width: 50px;
	height: 50px;
	background: #182028af;
	position: absolute;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	box-shadow: 0 0 10px 0 #0005;
}

.left-switch {
	left: 10px;
}

.right-switch {
	right: 10px;
}

.product-switch i {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-75%, -50%);
	font-size: 30px;
}

#product-content {
	padding: 65px 15px;
}

ul, ol {
	margin: 15px 25px;
}

#help-page h4 {
	text-decoration: underline;
	font-size: 25px;
}

#help-page p {
	text-align: justify;
}

#product-wrapper {
	max-width: calc(100% - 30px);
	margin: auto;
}















.buy-button {
	border: none;
	background: #36d;
	padding: 7.5px 17.5px;
	border-radius: 3px;
	cursor: pointer;
	transition: all 100ms ease-in-out;
}
.buy-button:hover {
	background: #36b;
}
.buy-button:active {
	box-shadow: 1px 1px 5px 0px #0005;
	background: #369;
}

.buy-button p {
	color: #fff;
	margin: 0;
}





#mobile-header-button {
	width: 40px;
	height: 40px;
	background: #000;
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 50%;
}

.mobile-header-line {
	width: 30px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 150ms ease-in-out;
}

.mobile-header-line:first-child {
	top: 25%;
}

.mobile-header-line:last-child {
	top: 75%;
}



















@media screen and (max-width: 1222px) {
	#header-content {
		width: 70%;
	}
}

@media screen and (max-width: 1000px) {
	#header-content {
		width: 90%;
	}
}

@media screen and (max-width: 765px) {
	#product-header {
		transition: all 250ms ease-in-out;
		position: relative;
		height: 60px;
	}

	#header-content {
		display: none;
		height: auto;
		position: relative;
		top: -100%;
		opacity: 0;
		transition: all 250ms ease-in-out;
	}

	#header-buttons {
		display: block;
		margin: 10px 0 0;
		text-align: left;
		transition: all 250ms ease-in-out;
	}

	.header-button {
		padding: 10px 0;
	}

	#header-buttons h3 {
		font-size: 20px;
	}

	#product-header {
		padding: 15px;
	}
}

@media screen and (max-width: 720px) {
	.preview h4 {
		font-size: 19px;
	}
	.info-header {
		display: block;
	}

	#comp-header {
		display: none;
	}
}
